* {
  margin: 0;
  padding: 0;list-style: none;
}

body {
  background: cornsilk;
}

h1 {
  text-align: center;
  padding: 30px 0;
}

pre {
  white-space: pre-wrap;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#select {
  width: 300px;
  max-width: 300px;
  height: 50px;
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.demo {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  margin: 20px 0;
  font-size: 18px;
  /* font-weight: bold; */
}

.demo > div {
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  border: 1px solid #000;
  background: burlywood;
}

.demo > div > div {
  padding: 10px;
}

.demo h3 {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid #000;
}

.demo > div:nth-child(n+3) > div {
  padding: 25px;
}


/* demo css */
/* demo id: 22 */
a:link { 
  color:#00f 
}
a:visited { 
  color:#f00 
}
a:active { 
  color:#00f 
}
a:hover { 
  background:#00f; 
  color: #fff; 
}
a:focus { 
  color:#aad 
}
p:target { 
  background:#000; 
  color: #fff; 
}

/* demo id 26 */

input:checked {
  box-shadow: 0 0 0 3px orange;
}

/* demo id 27 */

.line::first-line {
  color: #f00;
}

.letter::first-letter {
  color: #f00;
}

/* demo id 29 */

.text::before {
  content: 'Pseudo text.';
  color: #00f;
}

/* demo id 30 */

.text2::after {
  content: 'Pseudo text.';
  color: #00f;
}
